div._loading_overlay_wrapper{
    position: unset;
    ._loading_overlay_overlay{
        z-index:10000;
    }
}
.manage-patient-container{
    .m-s-title{
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom:15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    .container{
        .row{
            .btn-all{
                margin-top: 30px;
            }
            td>span{
                color: white;
                font-weight: 600;
                font-size: 12px;
                border-radius: 10px;
                padding: 3px 10px;
            }
            .s0>span{
                background-color: red;
            }
            .s2>span{
                background-color: #4e73df;
            }
            .s3>span{
                background-color: #1cc88a;
            }
            table{
                button{
                    border:none;
                    outline:none;
                    cursor: pointer;    
                }
                .mp-btn-confirm{
                    color: white;
                    margin-right: 10px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #36b9cc;
                    border-color: #36b9cc;
                    >i{
                        padding-top: 5px;
                    }
                }
                .btn-danger{
                    color: white;
                    border-radius: 50%;
                }
                
                .mp-btn-remedy{
                    height: 30px;
                    border-radius: 3px;
                    background-color: rgba(8, 151, 8, 0.925);
                }
            }
        }
    }
}
