.doctor-container{
    .manage-doctor-title{
        text-align: center;
        font-size:22px;
        font-weight: 600;
        margin: 20px 0;
        text-transform: uppercase;
    }
    .more-info{
        display: flex;
        gap: 15px;
        padding-bottom: 20px;
        .content-left{
            width: 40%;
        }
        .content-right{
            width: 60%;
        }
    }
    .manage-doctor-editor{
        margin-bottom: 5px;
    }
    .save-content-doctor{
        background-color: orange;
        margin: 15px 0;
        padding: 5px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
            opacity: 0.9;
        }
    }
}
