.preview-image{
    background: center center no-repeat;
    background-size: contain;
    height: 50px;
    cursor: pointer;
}
.btn-primary{
    background-color: #007bff;
    border-color: #007bff;
}
.add-new{
    margin-left: 115px;
}
.ReactModal__Overlay{
    z-index: 1500 !important;
}
.classify{
    width:130px;
    float:right;
    margin-right: 10%;
}
