.confirmed{
    border-left: 5px solid #c9302c;
}
.recovered{
    border-left: 5px solid #28a745;
}
.death{
    border-left: 5px solid gray;
}
.blue{
    border-left: 5px solid #7cb5ec;
}
.black{
    border-left: 5px solid black;
}
.cancel{
    border-left: 5px solid #91f57e;
}
