.login-background{
    height: 100vh;
    background:rgb(252, 172, 25);
    padding-top: 25px;
    .header-logo{
        padding-left: 50px;
        background-image: url("../../assets/images/logo-svg.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 135px;
        height: 50px;
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .login-container{
        width: 25rem;
        max-height: 450px;
        border-radius: 10px;
        top:0;
        bottom:0;
        right: 0;
        left: 0;
        margin: auto;
        background-color: #fff;
        // position: absolute;
        .login-connect{
            padding: 1rem 2rem 0rem 2rem;  
            input{
                padding-bottom: 10px !important;
                padding-top: 10px !important;
            }
            label{
                font-size: 13px !important;
                padding: 0 !important;
                margin-top: -4px;
            }
            .login-text{
                text-align: center;
                font-weight: 600;
                font-size: 2rem;
                padding-bottom: 10px;
            }
            .login-input{
                margin: 7px 0;

                .custom-input-password{
                    position: relative;
                    i{
                        position: absolute;
                        right: 10px;
                        top: 13px;
                    }
                    padding-right: -40px;
                    margin-top: 20px;
                }
            }
            .forgot-password{
                color: #2196F3;
                margin-top: 20px;
            }
            .btn-login{
                padding: 20px 0;
                text-align: center;
                button{
                    width: 90%;
                    height: 40px;
                    font-size: 1.3rem;
                    color: white;
                    font-weight: 700;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    background-color: #1d1922;
                    cursor: pointer;
                }
            }
            .reCaptCha{
                margin-top: 20px;
            }
            .text-center{
                padding-bottom: 10px;
            }
            .social-login{
                display: flex;
                font-size: 2.5rem;
                justify-content:center;
                i{
                    margin: 20px 8px;
                    cursor: pointer;
                }
                .google{
                    color: #DC4E40;
                }
                .facebook{
                    color: #3b5998;
                }

            }
        }

    }
}