.reset-container{
    position: relative;
    height: 100vh !important;
    padding-top: 50px;
    width: 100%;
    background:rgb(252, 172, 25);
    margin-right: auto;
    margin-left: auto;
    // padding-left: 15px;
    padding-right: 15px;
    .logo{
        margin: 0 0 40px;
    }
    .header-logo{
        padding-left: 50px;
        background-image: url("../../assets/images/logo-svg.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 200px;
        height: 50px;
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 20px;
    }    
    .reset-content{
        // padding-bottom: 90px;
        color: #fff;
        .panel{
            color: #2d3748;
            max-width: 430px;
            margin: 0 auto 20px;
            border-radius: 8px;
            background-color: #fff;
            border: 1px solid transparent;
            
            .h3{
                text-align: center;
                margin: 40px 20px 0;
                line-height: 1.5;
                font-size: 24px;
                font-weight: 600;
            }
            .panel-body{
                text-align: left;
                padding: 20px 40px 30px;
                .overview{
                    margin-bottom: 20px;
                    margin: 0 0 10px;
                    display: block;
                }
                .form-group{
                    position: relative;
                    margin-bottom: 20px;
                    label {
                        display: inline-block;
                        max-width: 100%;
                        margin-bottom: 5px;
                        font-weight: bold;
                    }
                    button{
                        font-weight: normal;
                        border: 1px solid transparent;
                        color: #fff;
                        background-color: #1d1922;
                        margin-top: 20px;
                    }
                }
            }
            .alert-warning{
                background-color: #fffaf6;
                border-color: #fa9f47;
                color: #b24603;
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid #b24603;
                border-radius: 4px;
                margin: 20px 44px 60px 44px;
            }
            .panel-footer{
                text-align: center;
                padding: 20px;
                display: block;
                font-size: 17px;
                color: #4a5568;
                background-color: #f5f5f5;
                border-top: 1px solid #ddd;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
                a{
                    text-decoration: underline;
                    color: #664986;
                    cursor: pointer;
                }
            }
        }
    }
}
