@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .header-tabs-container{
        display: flex;
        .dashboard{
            align-items: center;
            justify-content:center;
            margin: auto 10px;
            cursor: pointer;
            i{
                margin: 0 5px;
            }
            a{
                color: white !important;
                text-decoration: none;
            }
        }
    }
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }

    .languages{
        .welcome{

        }
        .language-vi{
            margin: 0 8px 0 15px;
            cursor: pointer;
            opacity: 0.6;
            &.active{
                color: red;
                font-weight: 600;
                opacity: 1;
            }
            &:hover{
                opacity: 1;
            }
        }
        .language-en{
            margin: 0 8px;
            cursor: pointer;
            opacity: 0.6;
            &.active{
                color: blue;
                font-weight: 600;
                opacity: 1;
            }
            &:hover{
                opacity: 1;
            }
        }
    }

}
